/*Shop element*/

.shop_element{
	width: 377px;
	margin: 0;
	text-align: left;
	position: relative;
}

.shop_element>a>img{
	width: 377px;
	height: 380px;
	transition: 0.3s;
	z-index: 3;
	position: relative;
}

.shop_element:hover>a>img{
	opacity: 0.3;
	z-index: 1;
}

.shop_element>a>.name{
	color: #000;
	font-size: 20px;
	margin-top: 31px;
	margin-bottom: 26px;
}

.shop_element>a>.cost_text{
	color: #A18A68;
	font-size: 20px;
	margin: 0;
}

.shop_element>.action_icons{
	position: absolute;
	top: 178px;
	/*left: 119px;*/
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

.shop_element>.action_icons>i{
	margin-right: 30px;
}
.shop_element>.action_icons>i:last-of-type{
	margin-right: 0px;
}

/*Shop search element*/

.shop_search_element{
	width: 300px;
	margin: 0;
	text-align: left;
	position: relative;
}

.shop_search_element>a>img{
	width: 300px;
	height: 300px;
	transition: 0.3s;
	z-index: 3;
	position: relative;
}

.shop_search_element:hover>a>img{
	opacity: 0.3;
	z-index: 1;
}

.shop_search_element>a>.name{
	color: #000;
	font-size: 20px;
	margin-top: 31px;
	margin-bottom: 26px;
}

.shop_search_element>a>.cost_text{
	color: #A18A68;
	font-size: 20px;
	margin: 0;
}

.shop_search_element>.action_icons{
	position: absolute;
	top: 150px; /*half of img*/
	/*left: 119px;*/
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 2;
}

.shop_search_element>.action_icons>i{
	margin-right: 30px;
}
.shop_search_element>.action_icons>i:last-of-type{
	margin-right: 0px;
}